.course-box {
  padding: 10px 22px 10px 10px;
  border: 1px solid black;
  margin: 2px; 
  position:relative;
  border-radius: 5px;
}

.course-box-not-selected {
  padding: 10px; 
  border: 1px dashed grey; 
  margin: 2px;
  border-radius: 5px;
}

.section-box {
  padding: 30px; 
  border: 1px solid grey;
}

.align-left {
  display: inline-block;
}

.meta-info-box {
  position: absolute; 
  right: 0px; 
  height: 100%; 
  top: 0px; 
  display: block;
}

.theme-single-size {
  width: 24px;
  height: 28px; 
  text-align: center;
}

.theme-single-size-with-count {
  width: 24px;
  height: 52px; 
  text-align:center;
}

.highlighted-link {
  background-color: #ffff00; 
  padding: 0px 10px;
}

.disabled-link {
  background-color: #ffffff; 
  padding: 0px 10px;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.meta-box-half-bottom {
  right: 0px; 
  bottom: 0px; 
  position:absolute;
}

.disabled-background {
  background-color: #e5e2e2;
}

.bottom-padding-80 {
  padding-bottom: 80px
}