.course-box {
  padding: 10px 22px 10px 10px;
  border: 1px solid black;
  margin: 2px; 
  position:relative;
  border-radius: 5px;
}

.course-box-not-selected {
  padding: 10px; 
  border: 1px dashed grey; 
  margin: 2px;
  border-radius: 5px;
}

.section-box {
  padding: 30px; 
  border: 1px solid grey;
}

.align-left {
  display: inline-block;
}

.meta-info-box {
  position: absolute; 
  right: 0px; 
  height: 100%; 
  top: 0px; 
  display: block;
}

.theme-single-size {
  width: 24px;
  height: 28px; 
  text-align: center;
}

.theme-single-size-with-count {
  width: 24px;
  height: 52px; 
  text-align:center;
}

.link-box {
  margin:0px; 
  padding:0px;
}

.row_of_courses{
  padding: 16px 0px;
}

.warning{
  margin-left: 10px;
  padding: 0px 10px;
}
.warning_too_much{
  background-color: #ff0000;
  color: #ffffff;

}
.warning_too_little{
  background-color: #0000ff;
  color: #ffffff;
}
.highlighted-link {
  background-color: #ffff00; 
  padding: 0px 10px;
}

.disabled-link {
  background-color: #ffffff; 
  padding: 0px 10px;
  cursor: not-allowed;
  text-decoration: none;
}

.meta-box-half-bottom {
  right: 0px; 
  bottom: 0px; 
  position:absolute;
}

.meta-box-half-top {
  right: 0px; 
  top: 0px; 
  position:absolute;
}


.disabled-background {
  background-color: #f4f4f4;
}

.dissertation-box {
  padding-bottom: 80px
}

.dissertation-box > div:first-of-type{
  font-size: smaller;
  padding-top: 18px;
  padding-bottom: 18px;
} 

.one-theme{
  padding: 0px 8px;
}
